<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <title></title>
    
    <link rel="stylesheet" href="/static/styles.css" type="text/css">

</head>
<body>
	<div class="container">
		<div id="slides"></div>
		<div id="content"></div>
		<div id="pagination"></div>
	</div>


<script type="text/javascript" src="/static/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/vendor/documentcloud/backbone-min.js"></script>
<script type="text/javascript" src="/static/vendor/documentcloud/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

</body>
</html>
